*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#msg{
    width: 250px;
    height: 100px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
}

.erro{
    background-color: red;
}

.sucesso{
    background-color: green;
}
